@import url(http://fonts.googleapis.com/css?family=Poppins:300,400,700|Martel:400,700);

body {
  margin: 0 auto;
  padding: 50px 20px 20px;
  font-family: Martel;

  background-color: #111;
  color:#FFF;

  max-width:900px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins";
  color: #EF3054;
}

h1 {
  margin-bottom: 0;
  font-size: 3em;
  line-height:.95em;
}

h2 {
  margin-top: .5em;
  font-weight: 400;
}

h3, h4 {
  margin: 0 0 .5rem;
}

h4 {
  font-weight: 100;
}

a {
  text-decoration: none;
  color: #8C7051;
  border-bottom: 1px solid #8C7051;
  font-weight: bold;
  overflow-wrap: break-word;
}

a:visited {
  color: #28502E;
  border-bottom: none;
}

a:hover {
  color: #47682C;
  border-bottom-color: #47682C;
}

h3 a {
  color: #999;
  border-bottom-color: #999;
}

h3 a:visited {
  color: #666;
  border-bottom-color: #666;
}

h3 a:hover {
  color: #ccc;
  border-bottom-color: #ccc;
}

.small-text {
  color: #999;
  font-size: .8rem;
}

li span + span::before {
  content: " + ";
}

.main {
  border-top: 1px dotted #333;
  border-bottom: 1px dotted #333;
  padding: 20px 0;
}

.navigation {
  padding: 20px 0;
}

.navigation ul {
  list-style:none;
  margin:0;
  padding:0;
}

.navigation ul li {
  display: inline-block;
  font-family: "Poppins";
}

.navigation ul li {
  margin-right: 10px;
}

.navigation ul li a {
  color: #999;
  border-bottom-color: #999;
  font-weight: 100;
}

.navigation ul li a:visited {
  color: #666;
  border-bottom-color: #666;
}

.navigation ul li a:hover {
  color: #ccc;
  border-bottom-color: #ccc;
}

.grid-list, .skill-list, .link-list {
  padding: 0;
  list-style: none;
}

.skill-list {
  margin-bottom: .75rem;
}

.skill-list li {
  font-family: "Poppins";
  font-size: .65rem;
  border: 1px solid #666;
  color: #999;
  display: inline-block;
  padding: .2rem .6rem;
  margin-right: .5rem;
}

.link-list {
  margin-bottom: .75rem;
}

.link-list li {
  font-family: "Poppins";
  font-size: .8rem;
  display: inline-block;
  margin-right: .5rem;
  margin-bottom: .25rem;
}

.link-list a {
  font-weight: 400;
}

img {
  max-width: 100%;
}

.list-item-image {
  margin-bottom: .5rem;
}

footer {
  font-family: "Poppins";
  color: #EF3054;
  padding: 20px 0;
}

@media screen and (min-width: 780px) {
  .grid-list {
    display: -webkit-flex; /* Fallback for non-grid-supported browsers */
    display: flex; /* Fallback for non-grid-supported browsers */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }
}

@media screen and (min-width: 560px) and (max-width: 779px) {
  .grid-list {
    display: -webkit-flex; /* Fallback for non-grid-supported browsers */
    display: flex; /* Fallback for non-grid-supported browsers */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }
}
