@import url(http://fonts.googleapis.com/css?family=Poppins:300,400,700|Martel:400,700);

body {
  margin: 0 auto;
  padding: 50px 20px 20px;
  font-family: Martel;

  background-color: #111;
  color:#FFF;

  max-width:900px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins";
  color: #EF3054;
}

h1 {
  margin-bottom: 0;
  font-size: 3em;
  line-height:.95em;
}

h2 {
  margin-top: .5em;
  font-weight: 400;
}

h3 {
  font-weight: 100;
}

a {
  text-decoration: none;
  color: #8C7051;
  border-bottom: 1px solid #8C7051;
  font-weight: bold;
}

a:visited {
  color: #28502E;
  border-bottom: none;
}

a:hover {
  color: #47682C;
  border-bottom-color: #47682C;
}

h3 a {
  color: #999;
  border-bottom-color: #999;
}

h3 a:visited {
  color: #666;
  border-bottom-color: #666;
}

h3 a:hover {
  color: #ccc;
  border-bottom-color: #ccc;
}

li span {
  color: #999;
  font-size: .8em;
}

li span::before {
  content: "(";
}

li span::after {
  content: ")";
}

li + li {
  margin-top: .75em;
}

.main {
  border-top: 1px dotted #333;
  border-bottom: 1px dotted #333;
  padding: 20px 0;
}

.navigation {
  padding: 20px 0;
}

.navigation ul {
  list-style:none;
  margin:0;
  padding:0;
}

.navigation ul li {
  display: inline-block;
  font-family: "Poppins";
}

.navigation ul li {
  margin-right: 10px;
}

.navigation ul li a {
  color: #999;
  border-bottom-color: #999;
  font-weight: 100;
}

.navigation ul li a:visited {
  color: #666;
  border-bottom-color: #666;
}

.navigation ul li a:hover {
  color: #ccc;
  border-bottom-color: #ccc;
}

footer {
  font-family: "Poppins";
  color: #EF3054;
  padding: 20px 0;
}
